html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font: 14px/22px aktiv-grotesk-std,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 50px;
}

.clearfix {
    clear: both;
}

.wrap {
    max-width: 896px;
    margin: 0 auto;
    height: 100%;
}

.header {
    background: #999999;
    height: 50px;
}

.left_box {
    width: 100px;
    background-color: #363a40;
    color: #ffffff;
    position: fixed;
    height: 100%;
    z-index: 99999;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.padding_right {
    padding-right: 20px;
}

blockquote {
    padding: 0px 10px;
    margin: 0 0 0px;
    font-size: 12px;
    color: gray;
    border-left: 5px solid gray;
}

input[type="text"], input[type="email"], input[type="password"] {
    height: 32px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin-bottom: 15px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border: 1px solid #00a1cb;
}

input[type="text"].full_width, input[type="email"], input[type="password"].full_width {
    width: 100%;
}

select {
    height: 32px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin-bottom: 15px;
}

select:focus {
    border: 1px solid #00a1cb;
}

select.full_width {
    width: 100%;
}


/* CONTENT */

.wrap_content {
    margin-left: 100px;
    background-color: #f5f8fa!important;
    position: relative;
    height: auto !important;
    min-height: 100%;
    width: 796px;
}

.wrap_content .content {
    padding:20px 20px 20px 20px;
}

/* SEARCH_BOX */

.wrap_content .search_box {
    height: 62px;
    border-bottom: 1px solid gray;
    background: #eeeeee;
    z-index: 1;
    position: relative;
}

.wrap_content .search_box input {
    margin: 15px;
    height: 32px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

.wrap_content .search_box input:focus {
    border: 1px solid #00a1cb;
}

.wrap_content .search_box input.left_input_group {
    border-radius: 5px 0 0 5px;
    margin-right: -4px;
}

.wrap_content .search_box input.right_input_group {
    border-radius: 0;
    margin-left: -4px;
    margin-right: -4px;
}

/* END SEARCH_BOX */

/* END CONTENT */

hr {
    border: 0;
    border-top: 1px solid #d8e2e8;
    margin: 15px 0 10px 0;
}

@media (max-width: 912px) {
    .left_box {
        display: none;
    }
}

